html, body {
  height: 99%;
}

h3 {
  margin: 0;
}

#container {
  height: 100%;
  width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
}

#preview {
  width: 100%;
  height: 50%;
}

#preview_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
}

#tools {
  position: relative;
  width: 100%;
  height: 50%;
  flex-grow: 1;
}

#tools_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
}
